
<div class="flex justify-center" id="<%- course.id_Cour %>">
    <div class="max-w-sm rounded-lg bg-white shadow-lg flex flex-col justify-between">
        <a class="h-[65%] w-full object-cover" href="/cursos/info/id=<%- course.id_Cour %>">
            <img class="rounded-t-lg  bg-center object-cover h-full" src="<%- course.image_Cour %>" alt="" />
        </a>
        <div class="flex h-[35%] flex-col justify-center py-4 px-4 text-center justify-between">
            <h5 class="mb-2 text-lg font-medium text-gray-900 py-2"><%- course.name_Cour %></h5>
            
            <a class="rounded-md bg-blue-600 py-2 px-12 uppercase text-white hover:bg-blue-500 active:bg-blue-700" href="/cursos/info/id=<%- course.id_Cour %>">ver mais</a>
        </div>
    </div>
</div>
