<section id="app">
    
    <div id="course-info">
        <img src="<%- data.image_Cour %>" alt="Imagem capa do Curso">
        <h1>Curso: <%- data.name_Cour %></h1>
        <h2>Categoria: <%- data.category_Cour %></h2>
        <h2>Professor Responsável: <%- data.name_User%></h2>
        <p>Descrição: <%- data.desc_Cour%></p>
    </div>
</section>
